@import "custom";

.buttons {
  margin-bottom: 10px;
}

.my-cont img {
  margin: 0 auto;
  width: 115px;
  height: 115px;
  align-items: center;
}

.my-cont {
  width: 30%;
  margin: 2% auto;
  padding: 4px;
}

.my-cont .button-block {
  display: inline-block;
  width: 100%;
  align-items: center;
  margin-bottom: 16px;
}

p {
  color: #6c757d;
  line-height: 150%;
  size: 16em;
}
.my-cont .header {
  text-align: center;
}

.bg-default {
  background-color: #E7F1FF
}
