@import "custom";

body{
    margin: 0;
    padding: 0;
}
p{
    text-decoration-color: #6C757D;
    line-height: 150%;
    size: 16em;
    font-family: "Roboto Slab", sans-serif;
}

button{
    size: 100px;
}